@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

html,
body {
  min-height: 100vh;
}

h1 {
  margin: 0;
}

header {
  padding: 30px 100px;
}

main {
  padding: 30px 0;
  display: flex;
  justify-content: center;
  gap: 200px;
}

.cols-coords > div,
.rows-coords > div,
.board .col {
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.8rem;
}

.board .col {
  border-right: 1px solid #cacaca;
  border-bottom: 1px solid #cacaca;
}

.board .row:first-child {
  border-top: 1px solid #cacaca;
}

.board .col:first-child {
  border-left: 1px solid #cacaca;
}

.board .row, 
.rows-coords {
  display: flex;
}

.comp-grid,
.my-grid {
  display: grid;
  grid-template: 40px auto 20px / 40px auto;
}

.rows-coords {
  grid-area: 1 / 2 / 1 / -1;
}

.cols-coords {
  grid-area: 2 / 1 / -2 / 2;
}

.board {
  grid-area: 2 / 2 / -2 / -1;
}

.col.ship {
  background-color: lightblue;
}

.col.sunk {
  background-color: red !important;
}

.col.ship.hit {
  background-color: orange;
}

.col.hit {
  background-color: lightgreen;
}

.comp-grid .col:hover {
  cursor: pointer;
}

dialog {
  border-radius: 10px;
  border: 1px solid #0000008e;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

button {
  padding: 10px;
  border-radius: 10px;
  border: none;
  background: royalblue;
  color: white;
  cursor: pointer;
  transition: all 1s;
}

button:hover {
  transform: scale(1.2, 1.1);
}

button.play-btn {
  background-color: green;
  color: white;
}

.caption {
  font-weight: 600;
  grid-area: -1 / 1 / -1 / -1;
  text-align: center;
}

header {
  display: flex;
  gap: 100px;
}

form {
  display: flex;
  gap: 30px;
  justify-self: center;
}

form > .from,
form > .to {
  display: flex;
  gap: 10px;
  align-items: center;
}

select {
  padding: 10px;
  border-radius: 10px;
}

